@media (max-width: 1600px) {
  .search-form form {
    width: 38vw;
  }
  .dashboard-button-container {
    margin-bottom: 40px !important;
  }
  .sidebar-panel.active .dropdown-submenu {
    display: none;
  }
  .dashboard-card {
    width: calc(100% / 4 - 20px) !important;
  }
  .main-content-area {
    padding-bottom: 60px;
  }
  .main-content-area {
    padding-bottom: 60px;
    /* padding-bottom: 66rem !important; */
  }

  .text-muted {
    font-size: 16px;
  }
  .sidebar-panel {
    width: 350px;
    max-height: 100%;
    height: 1100px;
    justify-content: unset !important;
  }
  .side-bar-logo {
    margin-bottom: 20px !important;
    width: 140px;
  }
  .gradient-button {
    font-size: 22px;
  }
  .sidebar-links li {
    padding: 25px 12px 15px 25px !important;
  }
  .sidebar-panel .sidebar-links {
    overflow: auto;
    height: 600px;
    position: relative;
    padding: 0;
  }
  .sidebar-links .custom-link li {
    margin-bottom: 0 !important;
  }
  .sidebar-panel.active .sidebar-links::-webkit-scrollbar,
  .sidebar-panel .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  .alert-para br {
    display: none;
  }

  .alert-para {
    font-size: 18px !important;
  }

  .alerts-div .alerts-hd {
    font-size: 25px;
  }

  .gradient-button {
    font-size: 20px;
  }

  th,
  td {
    padding: 25px 30px;
  }
  .sidebar-panel.active .dropdown-submenu {
    position: fixed;
  }

  .sidebar-panel.active .dropdown-submenu:last-child {
    bottom: 20px;
  }

  .date-range-wrapper .range-input {
    padding: 14px;
  }

  .filter-mega-wrapper {
    padding: 20px;
  }
}

@media (max-width: 1500px) {
  .card-dashboad.card .card-divison {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }
  .hotels-icon {
    gap: 13px;
    flex-wrap: wrap;
  }
  th,
  td {
    padding: 25px 30px;
  }
  .card-dashboad {
    padding: 15px;
  }

  .alert-para {
    font-size: 16px !important;
  }

  .alerts-div .alerts-hd {
    font-size: 22px;
  }

  .gradient-button {
    font-size: 18px;
  }
  .bed-para {
    font-size: 9px;
  }
  .hotel-location {
    font-size: 14.5px !important;
  }
  .hotel-img {
    width: 158px !important;
    height: 105px !important;
  }
  .food-card {
    padding: 20px 25px;
  }
  .order-name-prnt {
    margin-bottom: 15px !important;
  }
}

@media (max-width: 1440px) {
  /* .main-content-area {
    padding: 30px;
    height: calc(100vh - 100%);
  } */
  .order-id-time .order-time {
    font-size: 20px;
  }

  .order-id-time .order-id {
    font-size: 20px;
    height: 26px;
  }
  .time-mega-wrapper {
    flex-wrap: wrap;
  }
  .input-div label {
    font-size: 18px;
  }

  .gradient-button {
    font-size: 18px;
  }

  .date-range-wrapper p {
    font-size: 18px;
  }

  .alerts-div .alerts-hd {
    font-size: 25px;
  }

  .fee-wrapper h3 {
    font-size: 18px;
  }

  .fee-wrapper {
    padding: 15px 20px;
  }

  .fee-wrapper select {
    font-size: 15px;
    padding: 15px 20px;
  }

  .text-muted {
    font-size: 22px;
  }

  .hotel-price {
    font-size: 14px;
  }

  .order-name-prnt .order-name {
    color: var(--orange);
    font-size: 16px;
  }

  .order-name-prnt .order-price {
    font-size: 16px;
  }

  .order-status {
    padding: 14px !important;
    font-size: 20px;
  }

  .hotel-title {
    font-size: 19px;
  }

  .sidebar-panel {
    width: 355px;
  }

  .dashboard-heading {
    font-size: 30px !important;
  }

  th {
    padding: 25px;
    font-size: 18px;
  }
  td {
    padding: 25px;
    font-size: 15px;
  }

  .rider-mega-wrapper {
    padding: 17px 18px;
  }

  .status-title {
    padding: 11px 35px;
  }

  .rider-card-wrapper h3 {
    font-size: 13px;
  }
  .time-wrapper {
    gap: 6px !important;
  }
  .rider-wrapper {
    padding-top: 8px;
  }
  .alert-para {
    font-size: 15px !important;
  }

  .dashboard-hd-mini {
    font-size: 24px;
  }

  .alerts-div .alerts-hd {
    font-size: 23px;
  }

  .sidebar-panel {
    height: 1170px;
  }
  .profile-det-area .dropdown .profile-btn h5 {
    font-size: 18px;
  }
  .search-form form {
    width: 35vw !important;
  }
  .alerts-div .alerts-hd {
    font-size: 20px;
  }
  .alerts-div {
    margin-bottom: 13px;
  }
  .main-content-area {
    margin-bottom: 30px !important;
  }
   .main-content-area {
    padding-bottom: 0rem !important;
   }
}

@media (max-width: 1400px) {
  .search-form form {
    width: 36vw;
  }

  /* .main-content-area {
    height: calc(100vh - 100%);
    padding: 30px;
  } */

  .profile-det-area .dropdown button {
    font-size: 25px;
  }

  .profile-det-area {
    gap: 10px;
  }

  .text-muted {
    font-size: 17px;
  }

  .setting-card {
    padding: 20px;
  }
  .header {
    padding: 25px 40px;
  }
  .text-muted {
    font-size: 18px;
  }
  .count-hd {
    font-size: 35px;
    text-align: start;
  }
  .card-divison {
    text-align: start;
  }

  .sidebar-panel {
    height: 1145px;
  }
  .hotels-icon {
    flex-wrap: wrap;
    gap: 7px;
  }
}

@media (max-width: 1367px) {
  .order-id-time .order-time {
    font-size: 18px;
  }
  .header {
    padding: 15px 25px !important;
  }
  .order-id-time .order-id {
    font-size: 18px;
    height: 26px;
  }
  .date-range-wrapper .range-input {
    padding: 10px;
  }
  .order-status {
    font-size: 20px;
  }

  .card-divison {
    justify-content: space-between !important;
  }

  .setting-card {
    padding: 16px;
  }

  .dashboard-card-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* .date-range-wrapper .range-input {
    padding: 20px;
  } */

  .alert-para {
    color: var(--black);
    font-size: 18px !important;
  }

  .dashboard-card {
    width: calc(100% / 2 - 20px) !important;
  }

  .count-hd {
    font-size: 40px;
  }

  .sidebar-links li,
  .sidebar-links li:first-child,
  .sidebar-links li:nth-child(6) {
    padding: 25px 12px 25px 20px;
  }

  .side-bar-logo {
    height: 120px;
    width: 160px;
  }

  .sidebar-hd {
    font-size: 15px;
  }
  .text-muted {
    font-size: 17px;
  }
  .sidebar-panel {
    width: 320px;
  }

  .sidebar-links .custom-link li p {
    font-size: 15px !important;
  }

  .sidebar-panel.active .dropdown-submenu {
    position: fixed;
  }

  .sidebar-panel.active .dropdown-submenu:last-child {
    bottom: 20px;
  }

  .booking-chart > div {
    padding: 20px 25px;
  }
  .profile-det-area .dropdown .profile-btn h5 {
    font-size: 18px;
  }
  .sidebar-panel {
    height: 1200px !important;
  }
  .alerts-div .alerts-hd {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .search-area img {
    height: 20px;
    width: 100%;
  }
  .count-hd {
    font-size: 35px;
  }
  .profile-det-area {
    gap: 5px !important;
  }
  .order-hd {
    font-size: 22px;
  }
  .search-form form {
    width: 30vw;
  }
  .card-flex {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .card-flex2 {
    justify-content: center;
  }
  .hotels-icon {
    gap: unset !important;
    justify-content: space-between;
  }
  .hotel-card.card {
    padding: 20px;
  }
  .dropdown-para,
  .dropdown-item {
    font-size: 15px;
  }
  .order-name-prnt {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 20px;
  }
  .alerts-div .alerts-hd {
    font-size: 20px;
  }
  .order-id-time {
    justify-content: center;
  }
  .profile-det-area .dropdown .profile-btn h5 {
    font-size: 18px;
  }

  .input-div label,
  .gradient-button {
    font-size: 16px;
  }

  .hotel-location {
    font-size: 17px;
  }

  .hotels-icon {
    gap: 10px;
  }

  .hotel-title {
    font-size: 17px;
  }

  .search-form form input,
  .search-form form button {
    font-size: 13px;
  }

  .dropdown-submenu li {
    padding: 15px 40px !important;
  }

  .header {
    padding: 25px 45px;
  }

  .profile-det-area .profile-area {
    width: 255px !important;
  }

  .profile-det-area .dropdown-menu {
    padding: 20px 30px;
  }

  th {
    font-size: 17px;
  }

  .dashboard-hd {
    font-size: 25px;
  }

  th,
  td {
    padding: 20px;
  }
  .sidebar-panel {
    height: auto;
  }

  /* .main-content-area {
    height: calc(103vh - 100%);
  } */

  .rider-mega-wrapper {
    width: calc(100% / 2 - 10px);
  }

  .rider-card-wrapper h3 {
    font-size: 16px;
  }

  .calendar-wrapper p {
    font-size: 15px;
  }

  .time-wrapper p {
    font-size: 13px;
  }
  .date-range-wrapper .range-input {
    padding: 12px;
  }
}

@media (max-width: 1200px) {
  .booking-chart > div,
  .total-chart > div {
    padding: 20px 10px !important;
  }
  .profile-det-area .dropdown .profile-btn h5 {
    font-size: 17px;
  }
  .alert-para {
    font-size: 18px !important;
    color: var(--black);
  }

  .food-card {
    padding: 20px 15px;
  }
  .count-hd {
    font-size: 30px;
  }
  .text-muted {
    font-size: 16px;
  }
  .order-name-prnt .order-name {
    font-size: 15px;
  }

  .order-name-prnt .order-price {
    font-size: 15px;
  }

  .order-status {
    font-size: 18px;
  }

  .alerts-div {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1030px) {
  .booking-chart > div {
    padding: 25px 15px;
  }
  .side-bar-logo img {
    width: 150px;
    height: 100px;
  }
  .profile-det-area .dropdown .profile-btn {
    padding: 10px 12px !important;
  }
  .sidebar-panel .sidebar-links {
    height: 470px;
  }
  .bed-para {
    font-size: 16px;
  }
  body {
    overflow: auto;
  }

  .main-content-area {
    overflow-y: hidden;
    height: 100% !important;
  }

  .order-id-time .order-time {
    font-size: 18px;
  }

  .alerts-div .alerts-hd {
    font-size: 20px;
  }

  .date-range-wrapper p {
    font-size: 16px;
  }

  .alert-para {
    font-size: 17px !important;
    color: var(--black);
  }

  .textarea-wrapper label {
    font-size: 16px;
  }

  .textarea-wrapper textarea {
    font-size: 14px;
  }

  .input-wrapper .input-div select,
  input {
    font-size: 14px;
  }

  .input-div label {
    font-size: 16px;
  }

  .text-muted {
    font-size: 19px;
  }

  .fee-wrapper select {
    font-size: 18px;
  }

  .fee-wrapper h3 {
    font-size: 17px;
  }

  .order-status {
    padding: 12px !important;
  }

  .order-id-time .order-id {
    height: 20px;
    font-size: 18px;
  }

  .sidebar-panel {
    display: block;
    position: fixed;
    z-index: 1;
    height: 100vh;
  }

  .side-bar-logo {
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  .sidebar-panel.active {
    display: none;
  }

  .close-sidebar {
    display: block;
    position: absolute;
    top: 0px;
    right: -5px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 1002;
    transition: all 0.3s ease-in-out;
  }

  .dashboard-hd-mini {
    font-size: 21px;
  }

  .close-sidebar i {
    color: var(--white);
  }

  .header .hamburger i {
    font-size: 23px;
  }

  .dashboard-button-container {
    justify-content: center;
  }

  .gradient-button {
    font-size: 18px;
  }

  .search-form form {
    width: 55vw;
  }

  .dashboard-heading {
    font-size: 30px;
  }
/* 
  .main-content-area {
    height: 100vh;
  } */
}

@media (max-width: 991px) {
  .search-form form {
    display: none;
  }

  .table-container {
    overflow-x: scroll !important;
    width: 100%;
  }

  table {
    min-width: 1000px;
  }

  main {
    flex-grow: unset !important;
    width: 100%;
    flex: unset !important;
  }

  .hotel-location {
    font-size: 15px !important;
  }

  .filter-mega-wrapper {
    flex-wrap: wrap;
    gap: 25px;
  }

  .dashboard-hd-mini2-trends {
    margin-top: 30px;
  }

  .header {
    padding: 15px 35px;
  }

  .total-chart-2 {
    margin-top: 50px;
  }

  .profile-det-area .dropdown .profile-btn h5 {
    font-size: 15px;
  }

  .profile-det-area .dropdown .profile-btn h6 {
    font-size: 13px;
  }

  .profile-btn img {
    height: 50px;
    width: 50px;
  }

  .header .hamburger i {
    font-size: 25px;
  }

  .profile-det-area .dropdown-menu .prof-li a {
    gap: 12px;
    font-size: 15px;
  }

  .profile-det-area .profile-area {
    width: 215px !important;
  }

  .profile-det-area .notify-li {
    padding-bottom: 10px;
  }

  .side-bar-logo {
    margin-bottom: 30px;
    padding-top: 80px;
  }

  .side-bar-logo img {
    height: 100px;
    width: 150px;
  }
}

@media (max-width: 768px) {
  .order-id-time .order-time {
    font-size: 16px;
  }
  .sidebar-panel .sidebar-links {
    height: 470px;
  }
  .side-bar-logo {
    margin-bottom: 20px;
    padding-top: 50px;
  }
  .order-id-time .order-id {
    height: 20px;
    font-size: 16px;
  }
  .alerts-card {
    margin-bottom: 20px;
  }
  .order-name-prnt .order-name,
  .order-name-prnt .order-price {
    font-size: 14px;
  }

  .text-muted {
    font-size: 17px;
  }

  .dashboard-hd-mini {
    font-size: 19px;
  }

  .alert-para {
    font-size: 17px !important;
  }

  .rider-mega-wrapper {
    width: calc(100% / 1 - 10px);
  }

  .setting-card {
    text-align: center;
  }

  .alerts-card .gradient-button {
    margin: 0 auto;
  }

  .input-div label {
    font-size: 14px;
  }

  .textarea-wrapper label {
    font-size: 14px;
  }

  .input-wrapper {
    flex-wrap: wrap;
  }

  .input-wrapper .input-div select,
  input {
    width: 100%;
    padding: 12px 22px;
  }

  .alerts-div .alerts-hd {
    font-size: 18px;
  }

  .status-title {
    padding: 10px 30px;
    font-size: 13px;
  }

  .rider-card-wrapper h3 {
    font-size: 15px;
  }

  .fee-wrapper h3 {
    font-size: 15px;
  }

  .fee-wrapper select {
    font-size: 16px;
  }

  .fee-wrapper {
    padding: 20px 25px;
  }

  .form-section {
    background: #f4f4f4;
    border: 1px solid #464646;
    padding: 25px;
    box-shadow: 0 1px 6px #00000026;
  }
}

@media (max-width: 500px) {
  .dashboard-card {
    width: calc(100% - 20px) !important;
  }
  .alert-para {
    text-align: center;
  }
  th,
  td {
    padding: 20px;
  }
  .count-hd {
    text-align: start;
  }
  .main-content-area {
    padding: 20px;
  }
  .dashboard-hd {
    font-size: 23px;
  }

  body {
    overflow: auto;
  }

  .date-range-wrapper .range-input {
    padding: 15px;
  }

  .dashboard-hd-mini {
    font-size: 19px;
  }

  .date-range-wrapper p {
    font-size: 14px;
  }

  .alerts-div .alerts-hd {
    font-size: 16px;
  }

  .dashboard-button-container {
    flex-wrap: wrap;
  }

  .order-status {
    font-size: 16px;
  }

  .total-chart-2 {
    flex-direction: column;
    gap: 30px;
  }

  .textarea-wrapper textarea,
  .input-wrapper .input-div select,
  input {
    font-size: 13px;
  }

  .input-wrapper .input-div select,
  input {
    width: 100%;
    padding: 12px 22px;
  }

  .main-content-area {
    overflow: hidden;
    height: 100%;
  }

  .count-hd {
    font-size: 30px;
  }

  .fee-wrapper select {
    font-size: 14px;
  }

  .fee-wrapper h3 {
    font-size: 14px;
  }

  .gradient-button {
    font-size: 15px;
  }

  .total-chart > div {
    padding: 25px 15px;
  }

  .card-divison {
    justify-content: space-between !important;
  }

  .rider-card-wrapper h3 {
    font-size: 14px;
  }

  .side-bar-logo {
    padding-top: 30px;
  }
}

@media (max-width: 376px) {
  .sidebar-hd {
    font-size: 13px;
  }

  .order-id-time .order-time {
    font-size: 14px;
  }

  .order-id-time .order-id {
    height: 20px;
    font-size: 14px;
  }

  .sidebar-panel {
    width: 300px;
  }
  .side-bar-logo img {
    width: 130px;
    height: 80px;
  }
  .order-name-prnt .order-name,
  .order-name-prnt .order-price {
    font-size: 13px;
  }
  .header {
    padding: 15px 25px;
  }
  .hotels-icon {
    flex-wrap: wrap;
  }
  .profile-det-area .dropdown button {
    font-size: 18px;
  }
  .badge i {
    font-size: 5px;
  }
  .search-area {
    gap: 0;
  }
  .sidebar-links li,
  .sidebar-links li:first-child,
  .sidebar-links li:nth-child(6),
  .sidebar-links li:nth-child(8) {
    padding: 20px 12px 20px 20px;
  }

  .sidebar-links .custom-link li {
    margin-bottom: 0 !important;
  }

  .main-content-area {
    padding: 30px 15px;
  }

  .input-wrapper .input-div select,
  input {
    width: 100%;
    padding: 12px 22px;
  }

  .booking-chart > div,
  .total-chart > div {
    padding: 25px 20px !important;
  }

  .profile-det-area {
    gap: 10px !important;
  }

  .dropdown-menu p,
  .dropdown-menu span {
    font-size: 12px;
  }

  .profile-det-area .dropdown-menu {
    width: 270px !important;
    left: -55px !important;
  }

  .status-title {
    padding: 9px 25px;
    font-size: 13px;
  }

  .rider-card-wrapper h3 {
    font-size: 13px;
  }

  .header {
    padding: 15px 22px;
  }
  th,
  td {
    padding: 15px;
  }
  .profile-det-area .dropdown button .badge,
  .profile-det-area .dropdown .cart-view .badge {
    width: 9px;
    height: 9px;
    font-size: 5px;
    top: 15px;
    right: 17px;
  }
}

@media (max-width: 376px) {
  .sidebar-hd {
    font-size: 13px;
  }

  .order-id-time .order-time {
    font-size: 14px;
  }

  .order-id-time .order-id {
    height: 20px;
    font-size: 14px;
  }

  .sidebar-panel {
    width: 300px;
  }
  .side-bar-logo img {
    width: 130px;
    height: 80px;
  }
  .order-name-prnt .order-name,
  .order-name-prnt .order-price {
    font-size: 13px;
  }
  .header {
    padding: 15px 25px;
  }
  .hotels-icon {
    flex-wrap: wrap;
  }
  .profile-det-area .dropdown button {
    font-size: 18px;
  }
  .badge i {
    font-size: 5px;
  }
  .search-area {
    gap: 0;
  }
  .sidebar-links li,
  .sidebar-links li:first-child,
  .sidebar-links li:nth-child(6),
  .sidebar-links li:nth-child(8) {
    padding: 20px 12px 20px 20px;
  }

  .sidebar-links .custom-link li {
    margin-bottom: 0 !important;
  }

  .main-content-area {
    padding: 30px 15px;
  }

  .input-wrapper .input-div select,
  input {
    width: 100%;
    padding: 12px 22px;
  }

  .booking-chart > div,
  .total-chart > div {
    padding: 25px 20px !important;
  }

  .profile-det-area {
    gap: 10px !important;
  }

  .dropdown-menu p,
  .dropdown-menu span {
    font-size: 12px;
  }

  .profile-det-area .dropdown-menu {
    width: 270px !important;
    left: -55px !important;
  }

  .status-title {
    padding: 9px 25px;
    font-size: 13px;
  }

  .rider-card-wrapper h3 {
    font-size: 13px;
  }

  .header {
    padding: 15px 22px;
  }
  th,
  td {
    padding: 15px;
  }
  .profile-det-area .dropdown button .badge,
  .profile-det-area .dropdown .cart-view .badge {
    width: 9px;
    height: 9px;
    font-size: 5px;
    top: 15px;
    right: 17px;
  }
}

@media (max-width: 321px) {
  .sidebar-panel {
    width: 250px;
  }
  .sidebar-links li {
    padding: 20px 12px 10px 10px !important;
  }
  .sidebar-hd {
    font-size: 12px;
  }
  .side-bar-logo img {
    width: 100px;
    height: 60px;
  }
  .profile-det-area {
    gap: 4px !important;
  }
  .profile-det-area .dropdown .profile-btn h5 {
    font-size: 12px;
  }
  .profile-det-area .dropdown .profile-btn h6 {
    font-size: 11px;
  }
  .profile-det-area .dropdown-menu {
    padding: 15px;
  }
  .profile-det-area .dropdown-menu {
    width: 220px !important;
    left: -24px !important;
  }
}
